{% extends 'menu.html.twig' %}

{% block title %}Archivistes
{% endblock %}

{% block body %}
	<h1 class="card-title card-padding pb-0">Liste des archivistes</h1>
	<div class="table-responsive">
		<table class="table table-hoverable">
			<thead>
				<tr>
					<th>Code archiviste</th>
					<th>Nom d'utilisateur</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for archiviste in archivistes %}
					<tr>
						<td>{{ archiviste.codeArchiviste }}</td>
						<td>{{ archiviste.codeUtilisateur.nom }}</td>
						<td>
							<a href="{{ path('archivistes_show', {'id': archiviste.id}) }}" class="mdc-button mdc-button--raised icon-button filled-button--info">
								<i class="material-icons mdc-button__icon">visibility</i>
							</a>

							<a href="{{ path('archivistes_edit', {'id': archiviste.id}) }}" class="mdc-button mdc-button--raised icon-button filled-button--success">
								<i class="material-icons mdc-button__icon">colorize</i>
							</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="3">Aucun archivistes trouvés</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

	</div>
	<div class="menu-button-container">
		<a href="{{ path('archivistes_new') }}" class="mdc-button mdc-menu-button mdc-button--raised icon-button shaped-button secondary-filled-button">
			<i class="material-icons mdc-button__icon">add</i>
		</a>
	</div>
{% endblock %}
