{% extends 'menu.html.twig' %}

{% block title %}Producteurs
{% endblock %}

{% block body %}
	<h1 class="card-title card-padding pb-0">Producteurs</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Code</th>
				<td>{{ producteur.codeProducteurs }}</td>
			</tr>
		</tbody>
	</table>
	<div class="template-demo">
		<a href="{{ path('producteurs_index') }}">
			<img src="{{ asset('../../assets/images/back.png') }}" alt="user" height="30px"/>
		</a>
		<a href="{{ path('producteurs_edit', {'id': producteur.id}) }}" class="mdc-button mdc-button--outlined outlined-button--info mdc-ripple-upgraded">
			<i class="material-icons mdc-button__icon">edit</i>
			Modifier
		</a>
	</div>
	{{ include('producteurs/_delete_form.html.twig') }}
{% endblock %}
