{% extends 'menu.html.twig' %}

{% block title %}Transferts
{% endblock %}

{% block body %}
	<div class="menu-button-container">
		<a href="{{ path('transferts_new') }}" title="Effectuer un nouveau transfert" class="mdc-button mdc-menu-button mdc-button--raised icon-button shaped-button secondary-filled-button">
			<i class="material-icons mdc-button__icon">add</i>
		</a>
	</div>
	<h1 class="card-title card-padding pb-0">Liste des transferts</h1>
	<div class="table-responsive">
		<table class="table table-hoverable">
			<thead>
				<tr>
					<th class="text-left">Numero exemplaire</th>
					<th class="text-left">Institution de conservation</th>
					<th class="text-left">Nbre fait enregistrés</th>
					<th class="text-left">Responsable transfert</th>
					<th class="text-left">Date du transfert</th>
					<th class="text-left">Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for transfert in transferts %}
					<tr>
						<td>{{ transfert.numExemplaire }}</td>
						<td>{{ transfert.codeInstitution.nomInstitution}}</td>
						<td class="text-left">{{ transfert.nbreFaitEnregistrement }}</td>
						<td class="text-left">{{ transfert.responsableTransfert }}</td>
						<td class="text-left">{{ transfert.dateTransfert ? transfert.dateTransfert|date('Y-m-d') : '' }}</td>
						<td>
							<a href="{{ path('transferts_show', {'id': transfert.id}) }}" style="margin:5px" title="Détails du transfert" class="mdc-button mdc-button--raised icon-button filled-button--info">
								<i class="material-icons mdc-button__icon">visibility</i>
							</a>

							<a href="{{ path('transferts_edit', {'id': transfert.id}) }}" title="Modifier le transfert" class="mdc-button mdc-button--raised icon-button filled-button--success">
								<i class="material-icons mdc-button__icon">colorize</i>
							</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="15">
							<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-2 text-muted tx-14">
								Aucun transferts trouvés !
							</div>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
